body{
    display: flex;
    background-color: beige;
    flex-direction: column;
    align-items: center;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    padding: 10px;
}
.navbar img {
margin-right: 10px; 
}
.navbar h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 1.5em; 
    margin: 0; 
}
.contenedor{
    margin-top: 10px;
    background-color: white;
    width: 80%;
    height: 80vh;
    overflow: auto;
}
.caja_agregar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
    width: 40vh;
    height: 40vh;
    cursor: pointer;
}
.caja_agregar img {
    width: 80%;
    height: 80%;
    
}
.caja{
    padding: 1%;
    background-color: bisque;
    width: 40vh;
    height:40vh;
    overflow: auto;
}
.subcontenedor{
    margin: 2%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap; 
}
.caja h4{
    text-align: center;
}

.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.705);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 100vh;
    height: 85%;
    text-align: center;
    position: relative;
}
.modal-content h2{
    font-family: monospace;
    font-weight: bolder;
}
.close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
}
#formAgregarAnimal,#formEditarAnimal{
    margin: 20px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 10px;
}
#formAgregarAnimal label,#formEditarAnimal label {
    display: flex;
    flex: wrap;
    padding: 1px;
    margin-bottom: 5px;
    font-weight: bolder;
}
#formAgregarAnimal input,#formEditarAnimal input {
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#formAgregarAnimal button,#formEditarAnimal button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
